<!DOCTYPE html>
<html lang="en">
  <%- include("header"); %>
  <body>
    <!-- Start your project here-->
    <!--Navbar -->
    <!-- <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Movie</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink-333"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right dropdown-default"
              aria-labelledby="navbarDropdownMenuLink-333"
            >
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav> -->
    <!--/.Navbar -->

    <!-- <html lang="en" class="full-height"> -->

    <%- include("menu") %>

    <!--Main Layout-->
    <main class="text-center my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p align="justify">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </main>
    <!--Main Layout-->

    <div
      class="jumbotron card card-image"
      style="
        background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
      "
    >
      <div class="text-white text-center py-5 px-4">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
            <strong>Create your beautiful website with MDBootstrap</strong>
          </h2>
          <p class="mx-5 mb-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
            fugiat, laboriosam, voluptatem, optio vero odio nam sit officia
            accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
            sed qui, dolorum!
          </p>
          <a class="btn btn-outline-white btn-md"
            ><i class="fas fa-clone left"></i> View project</a
          >
        </div>
      </div>
    </div>
    <!-- End your project here-->
    <%- include("footer"); %>
  </body>
</html>
